<div class="row">
<%= text_field :title, :label => "Title:", :class => "forminput" %>
</div>
<div class="row">
<%= text_area :body, :label => "Body:", :class => "forminput" %>
</div>
<div class="row">
<%= text_field :tag_list, :label => "Tags:", :class => "forminput" %>
</div>
<div class="row">
<%= check_box :published, :label => "Published?:", :class => "forminput" %>
</div>
<div class="row">
<%= submit "Submit", :class => "submit" %>
</div>