!!! XML
%rss{ :version => "2.0", :"xmlns:atom" => "http://www.w3.org/2005/Atom" }
  %channel
    %title= Settings.title
    %atom:link{ :rel => "self", :href => absolute_url(:articles, :atom) }/
    %link= absolute_url(:home)
    %description= Settings.slogan
    %language en-us
    - unless @articles.empty?
      %pubDate= @articles.first.published_at.strftime("%a, %d %b %Y %X %z")
    %copyright= "Copyright #{Settings.owner}"
    - @articles.each do |article|
      %item
        %title= article.title
        %link= absolute_url(:article, article)
        %description= escape_xml(article.to_html)
        %pubDate= article.published_at.strftime("%a, %d %b %Y %X %z")
        %guid= absolute_url(:article, article)
 