<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <%= partial "common/head" %>
  </head>
  <body onload="sh_highlightDocument();">
    <div id="wrap">
      <%= partial "common/header" %>
      <div id="content">
	<%= catch_content :for_layout %>
      </div>
      <div id="sidebar">
	<h2>Admin</h2>
	<ul>
	  <li><%= link_to "Articles", url(:admin_articles) %></li>
	</ul>
      </div>
      <%= partial "common/footer" %>
    </div>
  </body>
</html>
