!!! Strict
%html{ "xml:lang" => "en-us", :lang => "en-us", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      = Settings.title
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    = css_include_tag :master, :sh_mrdias, :bundle => true
    = js_include_tag "sh_main.min", "sh_ruby.min", "sh_html.min", "sh_javascript.min", "sh_sh.min", :bundle => true
    %link{ :href => Settings.external_feed_url || url(:articles, :rss), :title => "Articles RSS", :rel => "alternate", :type => "application/rss+xml" }
    - if Settings.openid_server
      %link{:rel => "openid.server", :href => Settings.openid_server}
    - if Settings.openid_delegate 
      %link{:rel => "openid.delegate", :href => Settings.openid_delegate}
  %body{ :onload => "sh_highlightDocument();" }
    #wrap
      = partial "common/header"
      #content
        = catch_content :for_layout
      #sidebar
        = partial "common/sidebar"
      = partial "common/footer"
    - if Settings.disqus_shortname
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script type="text/javascript" src="http://disqus.com/forums/#{Settings.disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
        })();

