<div id="header">
  <span id="toplinks">
    Skip to: <%= navigation_links %>
    <% if session.authenticated? -%>
    | <%= link_to "Admin", url(:admin) %> | <%= link_to("Log out", url(:logout)) %>
    <% end -%>
  </span>
  <h1><%= link_to Settings.blog_name, url(:home) %></h1>
  <p id="slogan"><%= Settings.slogan %></p>
</div>
